#canvas {
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#controls {
  position: absolute;
  left: 942px;
  top: 685px;
}

#button {
  color: #ffffff;
  background-color: #ff0000;
}
